* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Replaced the class with the html element*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* removed the class as it's only one h1 on the page*/
 h1 {
    display: inline-block;
    font-size: 48px;
}

/* removed the class header and the h1 as the class seo is very specific already*/
 .seo {
    color: #d9dcd6;
}
/* removed the class and the div element and replaced with the nav*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* removed the class and the div element and left the ul because of it's singulatiy  on the pageit becomes spefific*/
 ul {
    list-style-type: none;
}

 ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-top: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin: 20px 0 0 20px
}
/*Changed the margins of the  .content and .benefits classes acording to the html changes*/

aside {
    margin: 20px 20px 0 0;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Replaced the class benefits with a aside tag and added benefits class to each section inside the aside tag*/
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

 h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*removed the classess from the main with .section-content to acomodate html changes and avoid repetition*/
.section-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.section-content img {
    max-height: 200px;
}

 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

 h4 {
    font-size: 20px;
}
